<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="container" style="padding-top: 20%; text-align: center;">
            <h1 style="padding-left: 10px; padding-bottom: 15px;">Welcome to the Superhero Website!</h1>
            <a href="/heroes"><button type="button" class="btn btn-secondary btn-lg btn-block">All Heroes</button></a>
            <a href="/search"><button type="button" class="btn btn-secondary btn-lg btn-block">Search For Hero</button></a>
        </div>
    </body>
</html>